@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated && Model.CurrentUser != null)
    {
        <p>You are @Model.CurrentUser.UserName, you are @Model.CurrentUser.Age years old</p>
        <p>Your height is @Model.CurrentUser.Height</p>
    }
    else
    {
        <p>Please log in to see your information.</p>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
