<#@ template language="C#" #>
<#@ assembly name = "System.Core" #>

<#@ output extension=".cs" #>

using System;

public class GeneratedCode
{
    static void Main()
    {
        <#
        string inputText = "Hello()";
        string transformedText = inputText.Replace("Hello()", "Console.WriteLine(\"Hello!\");");
        #>
        
        // Transformed code:
        <#= transformedText #>
    }
}

